* {
    margin: 0;
    background-image:
            url("../img/home-background.jpg");
            url("../img/empty.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

}