html, body {
    background-image: url("../img/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.panel {
    overflow: hidden;
    background-color: #2F4F4F;
    height: 60px;
}
#logotype {
    color: white;
    position: absolute;
    left: 4%;
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
}
.panel .app-button {
    position: relative;
    display: inline-block;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: .3em 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #16a085;
    margin-top: 13px;
    left: 80%;
}
.panel #donateButton {
    animation: pulsate 1.2s linear infinite;
    margin-left: 10px;
}
.panel .app-button:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
}
.panel .app-button:active {
    top: 1px;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
.content {
    text-align: center;
}
.content-inside {
    font-weight: 700;
    font-size: 21px;
    margin-top: 115px;
}